.heroBody {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.topBg {
  display: grid;
  height: 55vh;
  background: linear-gradient(to right, #0036c9, #2f93f1);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 50% 94%, 0 100%);
  position: relative;
  z-index: 1;
}

.browserLogo {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: transform .3s ease-out;
}

.bottomBg {
  display: grid;
  height: 45vh;
  background: linear-gradient(to right, #252627, #000);
  margin-top: -55vh;
  padding-top: 55vh;
  padding-bottom: 10vh;
}

.phoneLogo {
  height: calc(45vh);
  width: 100vw;
}

.appleLogo {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2rem;
  user-select: none;
  color: white;
  padding-top: 60vh;
}

.webTitle {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2rem;
  user-select: none;
  color: #6a6a6a;
}

@media (max-width: 750px) {
  .webTitle {
    font-size: 1rem;
    color: black;
  }

  .appleLogo {
    font-size: 1rem;
  }

  .browserLogo {
    height: calc(73vh);
    width: 100vw;
  }
}
